body {
    width: 100vw;
    max-width: 100vw;

    margin: 0;
    padding: 0;
}

.index {
    color: rgba(84, 84, 84, 0.96);

    font-family: sans-serif;

    position: relative;

    /*height: 100vh;*/
}

.header {
    background: rgba(251, 249, 255, 0.96);

    padding: 10px 0;
}

.header .text {
    margin: 20px 0;
    padding: 0 10px;

    text-align: center;

    font-size: calc(100% + 8px);
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;

    width: fit-content;
    margin: 0 auto;

    background: rgba(255, 155, 38, 0.96);
    color: white;

    padding: 10px;

    border-radius: 100px;
}

.messages {
    margin: 10px 0;

    padding: 0 10px;
}

.messages .left-tile {
    padding: 15px 10px;

    background: rgba(255, 155, 38, 0.96);
    color: white;

    text-align: justify;

    max-width: 75%;
    width: fit-content;

    border-radius: 10px 10px 0 10px;
}


.left-tile-container .time-tile {
    padding: 2px 0 0 10px;
    max-width: 75%;
    text-align: right;
}

.right-tile-container {
    width: 100%;
    display: flex;

    flex-flow: column;

    align-items: flex-end;
}


.messages .right-tile {
    margin: 10px 0;
    padding: 15px 10px;

    background: rgba(255, 155, 38, 0.41);
    color: white;

    max-width: 75%;
    width: fit-content;

    border-radius: 10px 10px 10px 0;
}


.new-text {
    width: 100%;

    position: fixed;

    bottom: 0;

    display: flex;
    align-items: center;
}

.new-text label {
    flex: 4 1 auto;
}

.new-text label textarea {
    width: 100%;

    padding: 10px 0;

    resize: none;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

.new-text .icon {
    flex: 1 1 auto;
}
